<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <p>Hello world!</p>
    <img src="{{news.url}}" alt="">
    <form action="http://localhost:3000/admin/news/update" method="POST" ENCTYPE="multipart/form-data">
        <input type="hidden" name="id" value="{{news.id}}">
        <input type="text" name="title" value="{{news.title}}">
        <input type="text" name="writer" value="{{news.writer}}">
        <input type="text" name="content" value="{{news.content}}">
        <input type="submit" value="修改">
    </form>
    <form action="http://localhost:3000/admin/news/updateImg" method="POST" ENCTYPE="multipart/form-data">
        <input type="hidden" name="id" value="{{news.id}}">
        <input type="file" name="img">
        <input type="submit" value="修改">
    </form>
    <br />
</body>

</html>
